<!--The content below is only a placeholder and can be replaced.-->
<div class="content-wrapper">
  <mat-tab-group>
    <mat-tab label="Task Description">
      <div class="task-description">
        <p>
          <strong> the Angular 2+ / JS framework, create SPA that contains information based on your resume.</strong>
        </p>
        <p>SPA should consist of several sections.</p>
        <p>In addition to the text description, the data should be presented in the form of various diagrams (you can
          use
          libraries, for example, charts.js)</p>
        <p>When building UI, it is desirable to use Material components (for example: <a
            href="https://material.angular.io/" target="_blank">https://material.angular.io/</a>) </p>

        <hr />

        <p>I used the Grid List material to display the resume and the Tab Material to separate sections of the application.</p>
      </div>
    </mat-tab>
    <mat-tab label="Grid List Material">
      <app-resume-grid></app-resume-grid>
    </mat-tab>
    <mat-tab label="Charts">
      <div class="content">
        <app-resume-facts-line-chart></app-resume-facts-line-chart>
        <app-resume-fact-pie-chart></app-resume-fact-pie-chart>
        <app-resume-facts-radar-chart></app-resume-facts-radar-chart>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>