<div class="grid-container">
    <mat-grid-list cols="3" rowHeight="100px" rowHeight="20:1.5">
        <mat-grid-tile [colspan]="1" [rowspan]="2">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2" class="tile-strong">
            <div>Aleksandr</div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1" style="text-align: right;">
            <strong>C# /.Net/Unity3d developer</strong>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="3">
            Summary of Qualifications
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="3" class="tile-description">
            <div class="content-wrapper">
                <p>7 years experience with С# .Net framework. Has a lot of experience in game development with
                    Unity3d
                    and
                    UnrealEngine 4. Also has experience with automated and integrated testing.
                    <br>
                    <br>
                    Very responsible, business oriented professional
                </p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            Experience
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
        </mat-grid-tile>


        <mat-grid-tile [rowspan]="15" [colspan]="3">
            <app-resume-grid-section style="width: 100%" companyName="Softum" involvementDuration="12.2017 – current"
                projectRole="C#/ .Net, Fullstack developer, Unity3d developer"
                [responsibilities]="['Web applications development','Server applications development and APIs','Angular development','Researches and bug fixing','Applications architecture creation','Unity3d application development']"
                toolsAndTechnologies="C#, ASP.NET MVC, ASP.NET CORE, Angular, LINQ, MS SQL, MySQL, T-SQL, JS, Azure, Unity3d."
                [projects]="['Control system for repair shops. Backend developer. C#, APS.NET CORE, Reddis, Azure, MSSQL.','Unity3d WebGL card game. Frontend developer. C#, Unity3D, Javascript.','Apartment reservation system. Backend developer. C#, ASP.NET MVC, MSSQL, Javascript.','System for management of hotel rooms cleaning. Fullstack developer.TypeScript, Angular5, C#','VR project for virtual music experience. Frontend developer. Unity3D, Vuforia','Car marketplace built on ASP.NET and React.js','Call center management system. C#, ASP.NET MVC, Angular 7, web services.']">

            </app-resume-grid-section>
        </mat-grid-tile>

        <mat-grid-tile [rowspan]="10" [colspan]="3">
            <app-resume-grid-section style="width: 100%" companyName="Storm Game Studio"
                involvementDuration="11.2014 – 11.2017"
                projectRole="Unity3d C# developer, UnrealEngine 4 C++/Blueprints Developer"
                [responsibilities]="['Unity3d development for mobile plaforms','UnrealEngine 4 development for Windows/Linux games']"
                toolsAndTechnologies="C#, Unity3d, C++, UnrealEngine 4, Blueprints"
                [projects]="['3d action PC Game. Lead developer. UnrealEngine 4, C++, Blueprints, asp.net mvc 5 for backend.','3d action arcade PC Game. Lead developer. UnrealEngine4, C++, Blueprints.','Unity 3d android/iOS match3 game. Lead developer. C# Unity3d.']">

            </app-resume-grid-section>
        </mat-grid-tile>

        <mat-grid-tile [rowspan]="10" [colspan]="3">
            <app-resume-grid-section style="width: 100%" companyName="FunBitGames"
                involvementDuration="10.2012 – 11.2014" projectRole="TorqueScript developer"
                [responsibilities]="['Implementation of game mechanics for hidden object game','Implementation of mini-games mechanics']"
                toolsAndTechnologies="Torque2d, TorqueScript, Torsion"
                [projects]="['Hidden objects PC game. Lead developer. Torque2d game engine, TorqueScript']">

            </app-resume-grid-section>
        </mat-grid-tile>

        <mat-grid-tile [rowspan]="10" [colspan]="3">
            <app-resume-grid-section style="width: 100%" companyName="Iveonik Systems"
                involvementDuration="10.2011 – 09.2012" projectRole="ASP.NET, MVC, Backend and Frontend developer"
                [responsibilities]="['Back office development','Parsing data from online stores','Development utils for automated testing']"
                toolsAndTechnologies="C#, MySQL, LINQ, ASP.NET MVC, JavaScript, JQuery, SVN, Bugzilla,NHibernate, PostgreSQL"
                [projects]="['Aggregator of online stores for the Swiss market. .net/javascript developer. ASP.NET MVC 3,
            NHibernate, MySQL, PostgreSQL, javascript, jquery.']">

            </app-resume-grid-section>
        </mat-grid-tile>

    </mat-grid-list>
</div>