/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa }

.mat-tab-label{
    color: black;
}

.task-description{
    min-width: 480px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.footer{
    background-color: darkgray;
    width: 100%;
    line-height: 2em;
    text-align: center;
}